<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express blog <%= '| '+ title %></title>
  </head>
  <body>
    <h1>This is express app About page</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, sunt natus, quisquam, libero autem nisi id
      explicabo minima reprehenderit aut assumenda velit quas ipsum ipsa perspiciatis delectus voluptate asperiores
      repellat.
    </p>
  </body>
</html>
