<!-- ikeliam head -->
<%- include('./partials/head.ejs') %>
<!-- //ikeliam bendra navigacijos faila dinamiskai -->
<%- include('./partials/nav.ejs')%>
<h1>The post has been deleted</h1>
<a class="btn btn-primary" href="/blogs">Go back to all posts</a>
<!-- <ul class="list-group">
  <%# blogData.forEach((dataEl) => { %>
  <li class="list-group-item"><%#-`<strong>${dataEl.title}</strong> | Author: ${dataEl.author}` %></li>
  <%# }) %>
</ul> -->

<%-include('./partials/footer.ejs')%>
