<!-- ikeliam head -->
<%- include('../partials/head.ejs') %>

<!-- //ikeliam bendra navigacijos faila dinamiskai -->
<%- include('../partials/nav.ejs')%>

<main role="main">
  <h1 class="display-3">Edit owner</h1>
  <h2>Sample form</h2>
</main>

<%-include('../partials/footer.ejs')%>
