<!-- ikeliam head -->
<%- include('../partials/head.ejs') %>

<!-- //ikeliam bendra navigacijos faila dinamiskai -->
<%- include('../partials/nav.ejs')%>

<main role="main">
  <h1 class="display-3">This is the owners page</h1>
</main>

<%-include('../partials/footer.ejs')%>
